USE [master]
GO
/****** Object:  Database [TrenBiletDb]    Script Date: 22.7.2019 15:14:58 ******/
CREATE DATABASE [TrenBiletDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrenBiletDb', FILENAME = N'C:\Users\mesut\TrenBiletDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrenBiletDb_log', FILENAME = N'C:\Users\mesut\TrenBiletDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrenBiletDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrenBiletDb]
GO
USE [TrenBiletDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22.7.2019 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biletler]    Script Date: 22.7.2019 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biletler](
	[BiletID] [int] IDENTITY(1,1) NOT NULL,
	[BiletDurumu] [bit] NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
	[Soyad] [nvarchar](30) NOT NULL,
	[TcNo] [nvarchar](11) NOT NULL,
	[Cinsiyet] [bit] NOT NULL,
	[YemekliMi] [bit] NOT NULL,
	[CocukMu] [bit] NOT NULL,
	[SigortaliMi] [bit] NOT NULL,
	[YolculukHizmetiVarMi] [bit] NOT NULL,
	[SeferID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Fiyat] [real] NOT NULL,
	[VagonSinifi] [bit] NOT NULL,
	[KoltukNo] [int] NOT NULL,
	[SilindiMi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Biletler] PRIMARY KEY CLUSTERED 
(
	[BiletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duraklar]    Script Date: 22.7.2019 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duraklar](
	[DurakID] [int] IDENTITY(1,1) NOT NULL,
	[DurakAdi] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Duraklar] PRIMARY KEY CLUSTERED 
(
	[DurakID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanıcılar]    Script Date: 22.7.2019 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcılar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciTipID] [int] NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
	[Soyad] [nvarchar](30) NOT NULL,
	[TcNo] [nvarchar](max) NOT NULL,
	[Cinsiyet] [bit] NOT NULL,
	[Adres] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](40) NOT NULL,
	[Telefon] [nvarchar](25) NOT NULL,
	[Sifre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kullanıcılar] PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullanıcıTipleri]    Script Date: 22.7.2019 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullanıcıTipleri](
	[TipID] [int] IDENTITY(1,1) NOT NULL,
	[TipAdi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.KullanıcıTipleri] PRIMARY KEY CLUSTERED 
(
	[TipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rotalar]    Script Date: 22.7.2019 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rotalar](
	[RotaID] [int] IDENTITY(1,1) NOT NULL,
	[CikisID] [int] NOT NULL,
	[VarisID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Rotalar] PRIMARY KEY CLUSTERED 
(
	[RotaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seferler]    Script Date: 22.7.2019 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seferler](
	[SeferID] [int] IDENTITY(1,1) NOT NULL,
	[RotaID] [int] NOT NULL,
	[CikisSaati] [time](7) NOT NULL,
	[VarisSaati] [time](7) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[SeferSuresi] [time](7) NOT NULL,
	[TrenID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Seferler] PRIMARY KEY CLUSTERED 
(
	[SeferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tren]    Script Date: 22.7.2019 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tren](
	[TrenID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tren] PRIMARY KEY CLUSTERED 
(
	[TrenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrenVagon]    Script Date: 22.7.2019 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrenVagon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TrenID] [int] NOT NULL,
	[VagonID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TrenVagon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vagon]    Script Date: 22.7.2019 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vagon](
	[VagonID] [int] NOT NULL,
	[VagonTipiID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Vagon] PRIMARY KEY CLUSTERED 
(
	[VagonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VagonTipleri]    Script Date: 22.7.2019 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VagonTipleri](
	[TipID] [int] IDENTITY(1,1) NOT NULL,
	[TipAdi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.VagonTipleri] PRIMARY KEY CLUSTERED 
(
	[TipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Biletler] ON 

INSERT [dbo].[Biletler] ([BiletID], [BiletDurumu], [Ad], [Soyad], [TcNo], [Cinsiyet], [YemekliMi], [CocukMu], [SigortaliMi], [YolculukHizmetiVarMi], [SeferID], [KullaniciID], [Fiyat], [VagonSinifi], [KoltukNo], [SilindiMi]) VALUES (1, 1, N'as', N'as', N'1', 1, 0, 0, 0, 0, 13, 2, 100, 1, 1, 0)
INSERT [dbo].[Biletler] ([BiletID], [BiletDurumu], [Ad], [Soyad], [TcNo], [Cinsiyet], [YemekliMi], [CocukMu], [SigortaliMi], [YolculukHizmetiVarMi], [SeferID], [KullaniciID], [Fiyat], [VagonSinifi], [KoltukNo], [SilindiMi]) VALUES (2, 1, N'ad', N'sd', N'12', 0, 0, 0, 0, 0, 13, 2, 100, 1, 2, 0)
INSERT [dbo].[Biletler] ([BiletID], [BiletDurumu], [Ad], [Soyad], [TcNo], [Cinsiyet], [YemekliMi], [CocukMu], [SigortaliMi], [YolculukHizmetiVarMi], [SeferID], [KullaniciID], [Fiyat], [VagonSinifi], [KoltukNo], [SilindiMi]) VALUES (3, 1, N'sde', N'sd', N'3', 1, 0, 0, 0, 0, 13, 2, 100, 1, 3, 0)
SET IDENTITY_INSERT [dbo].[Biletler] OFF
SET IDENTITY_INSERT [dbo].[Duraklar] ON 

INSERT [dbo].[Duraklar] ([DurakID], [DurakAdi]) VALUES (1, N'İstanbul')
INSERT [dbo].[Duraklar] ([DurakID], [DurakAdi]) VALUES (2, N'Sakarya')
INSERT [dbo].[Duraklar] ([DurakID], [DurakAdi]) VALUES (3, N'Ankara')
SET IDENTITY_INSERT [dbo].[Duraklar] OFF
SET IDENTITY_INSERT [dbo].[Kullanıcılar] ON 

INSERT [dbo].[Kullanıcılar] ([KullaniciID], [KullaniciTipID], [Ad], [Soyad], [TcNo], [Cinsiyet], [Adres], [Email], [Telefon], [Sifre]) VALUES (1, 2, N'Admin', N'Admin', N'1', 0, N'İst', N'admin ', N'0555 555 55 55', N'admin')
INSERT [dbo].[Kullanıcılar] ([KullaniciID], [KullaniciTipID], [Ad], [Soyad], [TcNo], [Cinsiyet], [Adres], [Email], [Telefon], [Sifre]) VALUES (2, 1, N'Rabia', N'Karakaya', N'2', 0, N'İst', N'rabia', N'0333 333 33 33', N'123')
SET IDENTITY_INSERT [dbo].[Kullanıcılar] OFF
SET IDENTITY_INSERT [dbo].[KullanıcıTipleri] ON 

INSERT [dbo].[KullanıcıTipleri] ([TipID], [TipAdi]) VALUES (1, N'Üye')
INSERT [dbo].[KullanıcıTipleri] ([TipID], [TipAdi]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[KullanıcıTipleri] OFF
SET IDENTITY_INSERT [dbo].[Rotalar] ON 

INSERT [dbo].[Rotalar] ([RotaID], [CikisID], [VarisID]) VALUES (1, 1, 2)
INSERT [dbo].[Rotalar] ([RotaID], [CikisID], [VarisID]) VALUES (2, 1, 3)
INSERT [dbo].[Rotalar] ([RotaID], [CikisID], [VarisID]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[Rotalar] OFF
SET IDENTITY_INSERT [dbo].[Seferler] ON 

INSERT [dbo].[Seferler] ([SeferID], [RotaID], [CikisSaati], [VarisSaati], [Tarih], [SeferSuresi], [TrenID]) VALUES (1, 1, CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time), CAST(N'2019-05-17T00:00:00.000' AS DateTime), CAST(N'01:00:00' AS Time), 1)
INSERT [dbo].[Seferler] ([SeferID], [RotaID], [CikisSaati], [VarisSaati], [Tarih], [SeferSuresi], [TrenID]) VALUES (2, 2, CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), CAST(N'2019-05-17T00:00:00.000' AS DateTime), CAST(N'01:00:00' AS Time), 1)
INSERT [dbo].[Seferler] ([SeferID], [RotaID], [CikisSaati], [VarisSaati], [Tarih], [SeferSuresi], [TrenID]) VALUES (3, 3, CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), CAST(N'2019-05-17T00:00:00.000' AS DateTime), CAST(N'01:00:00' AS Time), 1)
GO
SET IDENTITY_INSERT [dbo].[Seferler] OFF
INSERT [dbo].[Tren] ([TrenID]) VALUES (1)
INSERT [dbo].[Tren] ([TrenID]) VALUES (2)
SET IDENTITY_INSERT [dbo].[TrenVagon] ON 

INSERT [dbo].[TrenVagon] ([ID], [TrenID], [VagonID]) VALUES (1, 1, 1)
INSERT [dbo].[TrenVagon] ([ID], [TrenID], [VagonID]) VALUES (2, 1, 2)
INSERT [dbo].[TrenVagon] ([ID], [TrenID], [VagonID]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[TrenVagon] OFF
INSERT [dbo].[Vagon] ([VagonID], [VagonTipiID]) VALUES (1, 1)
INSERT [dbo].[Vagon] ([VagonID], [VagonTipiID]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[VagonTipleri] ON 

INSERT [dbo].[VagonTipleri] ([TipID], [TipAdi]) VALUES (1, N'Business')
INSERT [dbo].[VagonTipleri] ([TipID], [TipAdi]) VALUES (2, N'Ekonomi')
SET IDENTITY_INSERT [dbo].[VagonTipleri] OFF
/****** Object:  Index [IX_KullaniciID]    Script Date: 22.7.2019 15:14:59 ******/
CREATE NONCLUSTERED INDEX [IX_KullaniciID] ON [dbo].[Biletler]
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeferID]    Script Date: 22.7.2019 15:14:59 ******/
CREATE NONCLUSTERED INDEX [IX_SeferID] ON [dbo].[Biletler]
(
	[SeferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KullaniciTipID]    Script Date: 22.7.2019 15:14:59 ******/
CREATE NONCLUSTERED INDEX [IX_KullaniciTipID] ON [dbo].[Kullanıcılar]
(
	[KullaniciTipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VarisID]    Script Date: 22.7.2019 15:14:59 ******/
CREATE NONCLUSTERED INDEX [IX_VarisID] ON [dbo].[Rotalar]
(
	[VarisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RotaID]    Script Date: 22.7.2019 15:14:59 ******/
CREATE NONCLUSTERED INDEX [IX_RotaID] ON [dbo].[Seferler]
(
	[RotaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TrenID]    Script Date: 22.7.2019 15:14:59 ******/
CREATE NONCLUSTERED INDEX [IX_TrenID] ON [dbo].[Seferler]
(
	[TrenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TrenID]    Script Date: 22.7.2019 15:14:59 ******/
CREATE NONCLUSTERED INDEX [IX_TrenID] ON [dbo].[TrenVagon]
(
	[TrenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VagonID]    Script Date: 22.7.2019 15:14:59 ******/
CREATE NONCLUSTERED INDEX [IX_VagonID] ON [dbo].[TrenVagon]
(
	[VagonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VagonTipiID]    Script Date: 22.7.2019 15:14:59 ******/
CREATE NONCLUSTERED INDEX [IX_VagonTipiID] ON [dbo].[Vagon]
(
	[VagonTipiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Biletler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Biletler_dbo.Kullanıcılar_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanıcılar] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Biletler] CHECK CONSTRAINT [FK_dbo.Biletler_dbo.Kullanıcılar_KullaniciID]
GO
ALTER TABLE [dbo].[Biletler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Biletler_dbo.Seferler_SeferID] FOREIGN KEY([SeferID])
REFERENCES [dbo].[Seferler] ([SeferID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Biletler] CHECK CONSTRAINT [FK_dbo.Biletler_dbo.Seferler_SeferID]
GO
ALTER TABLE [dbo].[Kullanıcılar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kullanıcılar_dbo.KullanıcıTipleri_KullaniciTipID] FOREIGN KEY([KullaniciTipID])
REFERENCES [dbo].[KullanıcıTipleri] ([TipID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kullanıcılar] CHECK CONSTRAINT [FK_dbo.Kullanıcılar_dbo.KullanıcıTipleri_KullaniciTipID]
GO
ALTER TABLE [dbo].[Rotalar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rotalar_dbo.Duraklar_VarisID] FOREIGN KEY([VarisID])
REFERENCES [dbo].[Duraklar] ([DurakID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rotalar] CHECK CONSTRAINT [FK_dbo.Rotalar_dbo.Duraklar_VarisID]
GO
ALTER TABLE [dbo].[Seferler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Seferler_dbo.Rotalar_RotaID] FOREIGN KEY([RotaID])
REFERENCES [dbo].[Rotalar] ([RotaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seferler] CHECK CONSTRAINT [FK_dbo.Seferler_dbo.Rotalar_RotaID]
GO
ALTER TABLE [dbo].[Seferler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Seferler_dbo.Tren_TrenID] FOREIGN KEY([TrenID])
REFERENCES [dbo].[Tren] ([TrenID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seferler] CHECK CONSTRAINT [FK_dbo.Seferler_dbo.Tren_TrenID]
GO
ALTER TABLE [dbo].[TrenVagon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TrenVagon_dbo.Tren_TrenID] FOREIGN KEY([TrenID])
REFERENCES [dbo].[Tren] ([TrenID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrenVagon] CHECK CONSTRAINT [FK_dbo.TrenVagon_dbo.Tren_TrenID]
GO
ALTER TABLE [dbo].[TrenVagon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TrenVagon_dbo.Vagon_VagonID] FOREIGN KEY([VagonID])
REFERENCES [dbo].[Vagon] ([VagonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrenVagon] CHECK CONSTRAINT [FK_dbo.TrenVagon_dbo.Vagon_VagonID]
GO
ALTER TABLE [dbo].[Vagon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vagon_dbo.VagonTipleri_VagonTipiID] FOREIGN KEY([VagonTipiID])
REFERENCES [dbo].[VagonTipleri] ([TipID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vagon] CHECK CONSTRAINT [FK_dbo.Vagon_dbo.VagonTipleri_VagonTipiID]
GO
USE [master]
GO
